.toggleDiv {
    width: 100%;
    background-color:#FFF;
    padding: 1;
    cursor: pointer;
    border-bottom: 1px solid #BBB;
    font-weight: bold;
}

.msgContent {
    display: none;
    margin: 0 0 25 50;
    padding: 10;
    background-color: #EEE;
}

.msgList li.first{
	margin: 0;
    float: left;
    width: auto;
    list-style-type: none;
    display: inline-block;
}

.msgList li{
	margin: 0 20 0 0;
	padding: 0;
    list-style-type: none;
    display: inline-block;
}