.msgContainer {
    width:100%;
    border:1px solid #d3d3d3;
}
.msgContainer div {
    width:100%;
}
.msgContainer .msgList {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.msgContainer .msgContent {
    display: none;
    padding : 5px;
}

.msgContainer .msgList li.first{
	margin: 0;
	padding: 0;
    list-style-type: none;
    display: inline-block;
}

.msgContainer .msgList li{
	margin: 0;
	padding: 0 15 0 0;
    list-style-type: none;
    display: inline-block;
}